html {
    width: 100%;
}

body {
    min-width: 343px;

    margin: 0px;
    display: block;

    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
}

/*  ----------------------------------------- menu ---------------------- */

.nav-header {
    display: flex;
    align-items: center;     /* centra vertical*/
    flex-direction: row;
    justify-content: flex-end;

    height: 60px;
    background-color: black;
    padding: 0px 10px;
}

.nombre {
    height: 60px;
    font-size: 2.3rem;
    color: white;
    text-decoration: none;
    flex-basis: 35%;       /*con .menu*/
    padding: 0px;
    margin: 0px;
}

.menu {
    flex-basis: 70%;     /* con .nombre*/

    display: flex;     /* estos 3, para END horizontal el nombre dentro de este contenedor*/
    flex-direction: row;
    justify-content: flex-end;
}

ul {
    display: inline;
    color: white;
    list-style-type: none;     /*saca viñeta  a la lista*/
}

li {
    color: white;
    float: left;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.boton-menu {
    /*OJO este está adentor de li*/
    color: white;
    background-color: black;
    border: 0px;
    font-size: 1rem;
}

.boton-menu:hover {
    background-color:rgb(248, 244, 244);
    color: black;
}


.img-menu {
    display:none;
}

/* ---------------------------------- personajes   ---------------- */
.contenedor-personajes {
  
    margin: 0px auto;
    padding: 5px 20px;
    gap: 15px; 

    display: grid;
    flex-wrap: wrap;
                  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 700px;
    justify-content: stretch; 

}

.card-personaje {
    width: 90rv;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 0.5rem 0 1rem 0;
    box-shadow: 0px 0px 0px 0px;
}

.card-personaje:hover {
    box-shadow: 15px 15px 5px -3px gray;
}

.img-card-personaje {
    width: 100%;
    
    overflow: hidden;

    position: inherit;
}

.img-card-personaje:hover {
    filter: grayscale(80%);
}

.cont-img:hover .img-card-personaje {
    transform:scale(1.5);
    transition: all 300ms linear; /*la imagen se agranda*/
}
.cont-img {overflow:hidden;}


.info-card-personaje {
    height: 40%;              /* 29vh;*/
    border: 50px;
    color:black;
    background-color: cornsilk;
    padding: 0px 0px 0px 30px;
    border: 2px solid gray;
    text-align: left;
    align-items: flex-start;

    padding: 24px;
    margin: 0px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(189, 189, 189); 
}

.ver-mas-card-personaje {
    height: 4%;
    border: 50px;
    background-color: cornsilk;
    padding: 10px 24px;
    text-align: left;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(189, 189, 189);
    align-items: center;
}

.boton-ver-mas {        /*ojo esta adentro de  .ver-mas-card-personaje */
    border: 0px;
    font-size: 1.3rem;
    color: orangered;
    background-color: cornsilk;
    text-decoration: none;
}

.boton-ver-mas:hover {
    color: rgb(145, 58, 26);
    font-weight: bold;
}



/* ---------------------------------- TOTAL personajes   --------- */
.mns-totales {
    font-size: 1.1rem;
    color: green;
    margin: 10px 20px;
}

.mns-totales-pg{
    font-size: 1.1rem;
    color: green;
    margin: 10px 20px;
    text-align: center;
}

/* -------------------- botones avance-atras*/
.btn-paginas{
    display: flex;
    justify-content: center;
}

.btn-img{
    height:45px ;
    width: 45px;
    margin: 5px;
    border: 2px solid gray;
}

.btn-img:hover{
    border: 2px solid burlywood;
    box-shadow: 5px 5px 2px -1px gray;
}


.derechos{
    height: 150px;
    background-color: black;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}
/*-------------------------------------------- MEDIA QUERY -------------------*/

@media(max-width:700px) {
    .nombre {
        height: 150px;
        font-size: 1.9 rem;
        display: flex;
        align-items: center;
    }

    .nav-header{
        height: 150px;
    }
   
    li{
        float: none;
        text-align:right;
    }

}


@media(max-width:700px) {  /*@media(1px <= width <= 700px)*/
    .contenedor-personajes {
        grid-template-columns: 100%;
    }
}

@media(min-width:700px) and (max-width:993px) {
    .contenedor-personajes {
        grid-template-columns: repeat(2, 1fr);
    }
}