
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
}

/*  ----------------------------------------- menu ---------------------- */
.nav-header-uno {
    display: flex;
    align-items: center;     /* centra vertical*/
    flex-direction: row;
    justify-content: flex-start;

    height: 60px;
    background-color: black;
    padding: 0px 10px;
}

.nav-nombre-uno {
    height: 60px;
    width: 300px;
    font-size: 2.3rem;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}


/* ---------------------------------- personajes   ---------------- */

.cont-personaje-uno{
    display:flex;      /* para centrar horizontalmente a la tarjeta*/
    flex-direction: column;
    align-items: center;
}

.card-personaje-uno {  /* es la tarejta que tiene cont-img y le info*/
    width: 450px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cont-img-uno{
    display: flex;
    align-items: center;     /* centra vertical*/
    flex-direction: row;
}

.img-card-personaje-uno {
    width: 100%;
    overflow: hidden;
    position: inherit;
}

.img-card-personaje-uno:hover {
    filter: grayscale(80%);
}

.cont-img-uno:hover .img-card-personaje-uno {
    transform:scale(1.5);

    transition: all 300ms linear; /*la imagen se agranda*/
}

.cont-img-uno:hover {overflow:hidden;}

.info-card-personaje-uno {
    border: 50px;
    color:black;
    background-color: cornsilk;

    text-align: left;
    align-items: flex-start;

    padding: 0px 24px 0px 24px;
    margin: 0px;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: rgb(189, 189, 189); 
}

.cont-episodios{
    height: 300px;
	width: 400px;
	border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(189, 189, 189); 

	background:  rgb(249, 244, 228);
	overflow-y: scroll;
    padding: 0px 0px 0px 30px;
    align-self: center;
}

@media(max-width:700px) {
    .card-personaje-uno {  /* es la tarejta que tiene cont-img y le info*/
        width: 350px;
    }
    .cont-episodios{
        width: 317px;
    }
}
